1- What is Python, and why is it popular ?
    
  - Python is a general purpse programming language that is used to build
    software amd website , it is popular because it is easy to understand and write.


2- What is an interpreter in Python ?
  
  - A python interpreter is a program that reads and executes python code line by line.


3- What are pre-defined keywords in Python ?

   - Pre defined keywords are reserved words in python that have special meaning and cannot be used as identifiers .


4- Can keywords be used as variable names ?

  - NO, keywords cannot be used as variable names


5- What is mutability in Python ?

  - Whem objects can be changed after creation is know as mutability
    Example - lists and dictionaries


6- Why are lists mutable, but tuples are immutable ?

  - Lists are mutable as its content can be changed and tuples are immutable because their content cannot be changed after creation . also tuples are more memory sfficient compared to lists .


7- What is the difference between “==” and “is” operators in Python ?

  - "==" operator help us to compare the equality of objects . "is" operator helps us to check whether different variables point towards a similar objects in the memory .


8- What are logical operators in Python ?  

   - Logical operators are symbols or keywords that combine and modify boolean values to produce a boolean result . They are of three type ( and , or , not)


9- What is type casting in Python ?
      
   - Type casting is the process of converting a variable data type to another data type. It is often necessary for performing arithematic operations , data manipulation and input\output operations in python programs. Function for type casting such as int(), list(), dict(), etc.


10- What is the difference between implicit and explicit type casting ?

   - Implicit type casting means interpreter automatically converts one data type to another . Explict data type means programmer manually cvonverts one data type to another .


11- What is the purpose of conditional statements in Python ?

   - Conditional statement in python are used to execute code based on the evaluation of one or more conditions. Conditional statements can be nested to handle multiple conditions and control different branches of execution based on outcome of logoical expression. Conditional statements such as if, elif and else.


12- How does the elif statement work ?   

   - Elif is a short form of "else if" meaning if statements pair up with elif and else statements to perform a series of checks.


13- What is the difference between for and while loops ?

  - "For" loops are used for interating over a sequence of element , "while" loop are used for executing code untill a specified condition beacomes false


14- Describe a scenario where a while loop is more suitable than a for loop ?

  - While loop is more suitable than a for loop when you need to continue looping untill a specific condition is met, rather than a set number of times.

In [ ]:
#1- Write a Python program to print "Hello, World!
a = "Hello, WORLD!"
print (a)

Hello, WORLD!

In [ ]:
#2- Write a Python program that displays your name and age
Name = "Pratyush Singh"
Age = 22
print (Name)
print (Age)

Pratyush Singh
22

In [ ]:
#3- Write code to print all the pre-defined keywords in Python using the keyword library
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
#4- Write a program that checks if a given word is a Python keyword
def is_keyword(word):
  user_input = input("Enter a word to check if it is a python keyword:")
if is_keyword(user_input):
  print(f'"{user_input}"is a python keyword.')
else:
  print(f'"{user_input}"is not a python keyword.')

In [19]:
#5- Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for  each
my_list = [1,2,3,4,5]
print("original list:",my_list)

original list: [1, 2, 3, 4, 5]

In [ ]:
my_list[0] = 10
print("changed list:",my_list)

changed list: [10, 2, 3, 4, 5]

In [ ]:
my_tuple = (1,2,3,4,5)
print("original tuple:",my_tuple)

original tuple: (1, 2, 3, 4, 5)

In [ ]:
my_tuple[0] = 10
print("changed tuple:",my_tuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#6- Write a function to demonstrate the behavior of mutable and immutable arguments
   #mutable
list = [1,2,3,4.4,"Ajay"]
list[0] = "Vijay"
list

['Vijay', 2, 3, 4.4, 'Ajay']

In [ ]:
  #immutable
tuple = (1,2,3,4,2.2,"Ajay")
tuple[0] = "Vijay"#this show immutable cannot be changed
tuple

TypeError: 'tuple' object does not support item assignment

In [ ]:
#7- Write a function to demonstrate the behavior of mutable and immutable arguments
     #mutable
list = [1,2,3,4.4,"Ajay"]
list[0] = "Vijay"
list

['Vijay', 2, 3, 4.4, 'Ajay']

In [ ]:
      #immutable
tuple = (1,2,3,4,2.2,"Ajay")
tuple[0] = "Vijay"#this show immutable cannot be changed
tuple

TypeError: 'tuple' object does not support item assignment

In [ ]:
#8- Write a program to demonstrate the use of logical operators
print(True and False)
print(True or False)
print(not False)

False
True
True

In [ ]:
#9- Write a Python program to convert user input from string to integer, float, and boolean types
    #string to integer
a = "45"
b = int(a)
b

45

In [ ]:
    #string to float
a = "45"
float (a)

45.0

In [ ]:
    #string to boolean
a = "45"
bool (a)

True

In [1]:
#10- Write code to demonstrate type casting with list elements
string_numbers = ["1","2","3","4","5"]
int_numbers = [int(num) for num in string_numbers]
print("original list of strings:",string_numbers)
print("converted list of strings:",int_numbers)

original list of strings: ['1', '2', '3', '4', '5']
converted list of strings: [1, 2, 3, 4, 5]

In [4]:
#11- Write a program that checks if a number is positive, negative, or zero
def check_number(num):
  if num>0:
    return "The number is positive."
  elif num<0:
    return "The number is negative."
  else:
    return "The number is zero"
user_input = float(input("Enter a number:"))
result = check_number(user_input)
print(result)

Enter a number:-74
The number is negative.

In [ ]:
#12- Write a for loop to print numbers from 1 to 10
l = [1,2,3,4,5,6,7,8,9,10]
for i in l:
  print (i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#13- Write a Python program to find the sum of all even numbers between 1 and 50
sum_of_even = 0
for number in range (1,51):
  if number % 2 == 0:
    sum_of_even +=number
    print ("The sum of all even numbers between 1 and 50 is:",sum_of_even)

The sum of all even numbers between 1 and 50 is: 2
The sum of all even numbers between 1 and 50 is: 6
The sum of all even numbers between 1 and 50 is: 12
The sum of all even numbers between 1 and 50 is: 20
The sum of all even numbers between 1 and 50 is: 30
The sum of all even numbers between 1 and 50 is: 42
The sum of all even numbers between 1 and 50 is: 56
The sum of all even numbers between 1 and 50 is: 72
The sum of all even numbers between 1 and 50 is: 90
The sum of all even numbers between 1 and 50 is: 110
The sum of all even numbers between 1 and 50 is: 132
The sum of all even numbers between 1 and 50 is: 156
The sum of all even numbers between 1 and 50 is: 182
The sum of all even numbers between 1 and 50 is: 210
The sum of all even numbers between 1 and 50 is: 240
The sum of all even numbers between 1 and 50 is: 272
The sum of all even numbers between 1 and 50 is: 306
The sum of all even numbers between 1 and 50 is: 342
The sum of all even numbers between 1 and 50 is: 380
The sum of all even numbers between 1 and 50 is: 420
The sum of all even numbers between 1 and 50 is: 462
The sum of all even numbers between 1 and 50 is: 506
The sum of all even numbers between 1 and 50 is: 552
The sum of all even numbers between 1 and 50 is: 600
The sum of all even numbers between 1 and 50 is: 650

In [ ]:
#14- Write a program to reverse a string using a while loop
a =  "pwskills"
a[::-1]

'sllikswp'

In [ ]:
#15- Write a Python program to calculate the factorial of a number provided by the user using a while loop
def calculate_factorial(n):
  factorial =
  counter = 1
  while counter <=n:
    factorial *=counter
    counter +=1
    return factorial
user_input = int(input("Enter a number to calculate its factorial"))
result = calculate_factorial(user_input)
print("The factorial of",user_input,"is:",result)

Enter a number to calculate its factorial5
The factorial of 5 is: 5